In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

In [3]:
train_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [4]:
train_data = train_data.fillna(0)
test_data = test_data.fillna(0)

In [5]:
train_data.shape

(8693, 14)

In [6]:
train_data["HP_code"] = train_data["HomePlanet"].astype("category").cat.codes
test_data["HP_code"] = test_data["HomePlanet"].astype("category").cat.codes

In [7]:
train_data["CS_code"] = train_data["CryoSleep"].astype("category").cat.codes
test_data["CS_code"] = test_data["CryoSleep"].astype("category").cat.codes

In [8]:
train_data["Cabin_code"] = train_data["Cabin"].astype("category").cat.codes
test_data["Cabin_code"] = test_data["Cabin"].astype("category").cat.codes

In [9]:
train_data["Destination_code"] = train_data["Destination"].astype("category").cat.codes
test_data["Destination_code"] = test_data["Destination"].astype("category").cat.codes

In [10]:
train_data["VIP_code"] = train_data["VIP"].astype("category").cat.codes
test_data["VIP_code"] = test_data["VIP"].astype("category").cat.codes

In [11]:
train_data = train_data.drop(['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP', 'Name'], axis=1)
test_data = test_data.drop(['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP', 'Name'], axis=1)

In [12]:
train_data

,PassengerId,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HP_code,CS_code,Cabin_code,Destination_code,VIP_code
0,0001_01,39.0,0.0,0.0,0.0,0.0,0.0,False,2,0,150,3,0
1,0002_01,24.0,109.0,9.0,25.0,549.0,44.0,True,1,0,2185,3,0
2,0003_01,58.0,43.0,3576.0,0.0,6715.0,49.0,False,2,0,2,3,1
3,0003_02,33.0,0.0,1283.0,371.0,3329.0,193.0,False,2,0,2,3,0
4,0004_01,16.0,303.0,70.0,151.0,565.0,2.0,True,1,0,2187,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,41.0,0.0,6819.0,0.0,1643.0,74.0,False,2,0,147,1,1
8689,9278_01,18.0,0.0,0.0,0.0,0.0,0.0,False,1,1,5281,2,0
8690,9279_01,26.0,0.0,0.0,1872.0,1.0,0.0,True,1,0,5286,3,0
8691,9280_01,32.0,0.0,1049.0,0.0,353.0,3235.0,False,2,0,2132,1,0
8692,9280_02,44.0,126.0,4688.0,0.0,0.0,12.0,True,2,0,2132,3,0

In [13]:
train_data.corr()["Transported"]

PassengerId         0.021491
Age                -0.071330
RoomService        -0.241124
FoodCourt           0.045583
ShoppingMall        0.009391
Spa                -0.218545
VRDeck             -0.204874
Transported         1.000000
HP_code             0.110443
CS_code             0.460132
Cabin_code         -0.052685
Destination_code   -0.099737
VIP_code           -0.037261
Name: Transported, dtype: float64

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [15]:
rf = RandomForestClassifier()

In [16]:
X = train_data.drop(["Transported"], axis=1)

In [17]:
y = train_data["Transported"]

In [18]:
rf.fit(X, y)

RandomForestClassifier()

In [19]:
rf.score(X, y)

0.9997699298285977

In [20]:
test_data

,PassengerId,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HP_code,CS_code,Cabin_code,Destination_code,VIP_code
0,0013_01,27.0,0.0,0.0,0.0,0.0,0.0,1,1,2785,3,0
1,0018_01,19.0,0.0,9.0,0.0,2823.0,0.0,1,0,1868,3,0
2,0019_01,31.0,0.0,0.0,0.0,0.0,0.0,2,1,258,1,0
3,0021_01,38.0,0.0,6652.0,0.0,181.0,585.0,2,0,260,3,0
4,0023_01,20.0,10.0,0.0,635.0,0.0,0.0,1,0,1941,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,34.0,0.0,0.0,0.0,0.0,0.0,1,1,2680,3,0
4273,9269_01,42.0,0.0,847.0,17.0,10.0,144.0,1,0,0,3,0
4274,9271_01,0.0,0.0,0.0,0.0,0.0,0.0,3,1,603,1,0
4275,9273_01,0.0,0.0,2680.0,0.0,0.0,523.0,2,0,604,0,0
4276,9277_01,43.0,0.0,0.0,0.0,0.0,0.0,1,1,2681,2,0

In [22]:
preds = rf.predict(test_data)

In [23]:
test_data["Transported"] = preds

In [24]:
test_data

,PassengerId,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HP_code,CS_code,Cabin_code,Destination_code,VIP_code,Transported
0,0013_01,27.0,0.0,0.0,0.0,0.0,0.0,1,1,2785,3,0,True
1,0018_01,19.0,0.0,9.0,0.0,2823.0,0.0,1,0,1868,3,0,False
2,0019_01,31.0,0.0,0.0,0.0,0.0,0.0,2,1,258,1,0,True
3,0021_01,38.0,0.0,6652.0,0.0,181.0,585.0,2,0,260,3,0,True
4,0023_01,20.0,10.0,0.0,635.0,0.0,0.0,1,0,1941,3,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,34.0,0.0,0.0,0.0,0.0,0.0,1,1,2680,3,0,False
4273,9269_01,42.0,0.0,847.0,17.0,10.0,144.0,1,0,0,3,0,False
4274,9271_01,0.0,0.0,0.0,0.0,0.0,0.0,3,1,603,1,0,True
4275,9273_01,0.0,0.0,2680.0,0.0,0.0,523.0,2,0,604,0,0,True
4276,9277_01,43.0,0.0,0.0,0.0,0.0,0.0,1,1,2681,2,0,False

In [26]:
submission = test_data[["PassengerId", "Transported"]]

In [27]:
submission

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01        False
4274     9271_01         True
4275     9273_01         True
4276     9277_01        False

[4277 rows x 2 columns]

In [28]:
submission.to_csv("submission.csv", index=False)