In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv("student-por.csv", sep =";")

In [3]:
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [4]:
data.corr()["G3"]

age          -0.106505
Medu          0.240151
Fedu          0.211800
traveltime   -0.127173
studytime     0.249789
failures     -0.393316
famrel        0.063361
freetime     -0.122705
goout        -0.087641
Dalc         -0.204719
Walc         -0.176619
health       -0.098851
absences     -0.091379
G1            0.826387
G2            0.918548
G3            1.000000
Name: G3, dtype: float64

In [5]:
data = data[["studytime", "failures", "absences",  "G1", "G2", "G3"]]

In [6]:
data

     studytime  failures  absences  G1  G2  G3
0            2         0         4   0  11  11
1            2         0         2   9  11  11
2            2         0         6  12  13  12
3            3         0         0  14  14  14
4            2         0         0  11  13  13
..         ...       ...       ...  ..  ..  ..
644          3         1         4  10  11  10
645          2         0         4  15  15  16
646          2         0         6  11  12   9
647          1         0         6  10  10  10
648          1         0         4  10  11  11

[649 rows x 6 columns]

In [7]:
from sklearn.model_selection import train_test_split

X = np.array(data.drop(["G3"], axis=1))
y = np.array(data["G3"])

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
reg = LinearRegression()

In [10]:
reg.fit(X_train, y_train)

LinearRegression()

In [11]:
acc = reg.score(X_test, y_test)

In [12]:
acc

0.8654739846487425

In [13]:
print("Coefficient: \n", reg.coef_)
print("Intercept: \n", reg.intercept_)

Coefficient:
 [ 0.09159971 -0.32221687  0.02720905  0.16355429  0.8683859 ]
Intercept:
 -0.20811488104040343

In [14]:
preds = reg.predict(X_test)

In [15]:
preds

array([ 9.2493015 , 15.67215968, 11.23452689, 11.16287227, 14.3306474 ,
        7.58986509, 11.36330819, 11.28168103, 10.70292215, 13.87009736,
       16.86385051,  9.48511032, 13.39000696, 13.51667961, 13.39030692,
       14.64989209,  8.67253055, 13.39030692, 14.38506551, 11.59881706,
        9.49745514, 10.09345053, 12.28641216, 10.02179591,  4.70802414,
       10.20288666, 11.83052228, 13.51667961, 12.35836674, 11.30889008,
        9.97166958,  9.7122238 , 13.39030692,  9.0989919 , 11.67318025,
        7.85367106, 13.8090152 , 13.66269743, 15.65462321, 13.55386121,
       16.48612747, 13.0532258 ,  7.64059037, 13.48190663, 12.24923056,
       17.35451337,  8.31682491, 11.34366307, 12.43242998, 11.31486984,
       11.16287227, 11.89115265, 10.02499964, 11.16287227,  7.36222011,
       11.32642655,  7.16637592, 13.13515293,  8.33944222, 12.41278485,
       11.25447197, 15.290633  , 18.73320725, 12.52192102,  9.42580051,
        9.0471776 , 13.44472503, 10.16134487, 12.52192102, 18.45840813,
       11.43526277, 11.18010878, 11.22218208, 13.44472503, 12.44996644,
       13.24398915, 16.48612747, 18.49528977, 11.18010878, 12.72235695,
        1.11996454, 12.28641216, 12.26676703,  9.55247316, 15.94074655,
       15.72657779,  8.06705172,  9.32155604, 13.67993394, 13.55386121,
       12.41767655,  8.88561125, 13.24398915,  8.50728829,  7.81189772,
       11.96310723,  6.94780361, 12.10321274, 10.78593733,  9.42550056,
       14.78623732, 15.80064103,  8.06675176, 14.19430217, 18.64160755,
       12.45753037,  9.2797827 , 12.52192102, 10.24466   , 10.51245877,
       12.30364867, 17.28255879, 13.31835234, 13.00848028,  7.81678942,
       11.38084466, 13.31835234, 11.50721735, 13.39030692, 14.71428274,
       16.55808205, 13.64546091, 12.93005685, 12.68487539,  5.79468239,
        8.03277389, 15.10954225, 14.58580139,  9.30699175, 12.43002136])

In [16]:
preds = np.ceil(preds)

In [17]:
preds

array([10., 16., 12., 12., 15.,  8., 12., 12., 11., 14., 17., 10., 14.,
       14., 14., 15.,  9., 14., 15., 12., 10., 11., 13., 11.,  5., 11.,
       12., 14., 13., 12., 10., 10., 14., 10., 12.,  8., 14., 14., 16.,
       14., 17., 14.,  8., 14., 13., 18.,  9., 12., 13., 12., 12., 12.,
       11., 12.,  8., 12.,  8., 14.,  9., 13., 12., 16., 19., 13., 10.,
       10., 14., 11., 13., 19., 12., 12., 12., 14., 13., 14., 17., 19.,
       12., 13.,  2., 13., 13., 10., 16., 16.,  9., 10., 14., 14., 13.,
        9., 14.,  9.,  8., 12.,  7., 13., 11., 10., 15., 16.,  9., 15.,
       19., 13., 10., 13., 11., 11., 13., 18., 14., 14.,  8., 12., 14.,
       12., 14., 15., 17., 14., 13., 13.,  6.,  9., 16., 15., 10., 13.])

In [18]:
for i in range(len(preds)):
    print(preds[i], X_test[i], y_test[i])

10.0 [ 3  1 14  8  9] 8
16.0 [ 2  0  2 16 15] 16
12.0 [ 1  0  6 10 11] 12
12.0 [ 2  0  0 10 11] 11
15.0 [ 1  0  0 14 14] 15
8.0 [3 0 5 8 7] 8
12.0 [ 3  0  4 10 11] 12
12.0 [ 3  0  1 10 11] 12
11.0 [ 2  0  9 11 10] 10
14.0 [ 1  0 21 13 13] 13
17.0 [ 2  0  0 13 17] 17
10.0 [ 2  1  8 11  9] 10
14.0 [ 2  0  6 12 13] 12
14.0 [ 1  0  2 14 13] 14
14.0 [ 2  0  0 13 13] 13
15.0 [ 3  0  5 14 14] 15
9.0 [2 2 2 9 9] 10
14.0 [ 2  0  0 13 13] 14
15.0 [ 1  0  2 14 14] 14
12.0 [ 2  0  4 12 11] 11
10.0 [ 1  0 12  9  9] 8
11.0 [ 1  0  8  8 10] 9
13.0 [ 3  0  0 11 12] 12
11.0 [ 2  0  2  8 10] 11
5.0 [2 2 8 5 5] 7
11.0 [ 1  0  0 10 10] 10
12.0 [ 1  0  2  9 12] 13
14.0 [ 1  0  2 14 13] 14
13.0 [ 2  0  0 12 12] 12
12.0 [ 3  0  2 10 11] 10
10.0 [ 2  1 12  8 10] 10
10.0 [ 1  0  0  7 10] 10
14.0 [ 2  0  0 13 13] 10
10.0 [2 0 0 8 9] 9
12.0 [ 4  0  0 12 11] 11
8.0 [2 1 4 7 8] 9
14.0 [ 3  0  0 15 13] 13
14.0 [ 2  0  4 14 13] 13
16.0 [ 3  0  4 15 15] 15
14.0 [ 2  0  0 14 13] 13
17.0 [ 2  0  0 16 16] 17
14.0 [ 1  0  3 11 13] 13
8.0 [2 2 2 8 8] 9
14.0 [ 3  0  0 13 13] 14
13.0 [ 2  0  2 11 12] 14
18.0 [ 2  0  0 16 17] 17
9.0 [2 1 9 9 8] 8
12.0 [ 1  0  4 11 11] 11
13.0 [ 4  0  2 11 12] 12
12.0 [ 3  2  0  9 12] 12
12.0 [ 2  0  0 10 11] 11
12.0 [ 4  0  2 13 11] 11
11.0 [ 2  0 16 11  9] 10
12.0 [ 2  0  0 10 11] 11
8.0 [2 0 0 8 7] 0
12.0 [ 2  0  0 11 11] 12
8.0 [1 1 2 9 7] 9
14.0 [ 1  0  0 12 13] 12
9.0 [2 0 4 8 8] 10
13.0 [ 2  0  2 12 12] 13
12.0 [ 3  0  0 10 11] 12
16.0 [ 2  0  0 14 15] 15
19.0 [ 4  0  0 18 18] 18
13.0 [ 2  0  0 13 12] 13
10.0 [2 0 6 9 9] 10
10.0 [ 2  0 24  9  8] 9
14.0 [ 2  0  2 13 13] 13
11.0 [ 2  0 15 12  9] 10
13.0 [ 2  0  0 13 12] 12
19.0 [ 1  0  0 18 18] 17
12.0 [ 2  0  4 11 11] 11
12.0 [ 1  0  4 10 11] 11
12.0 [ 2  1  2 12 11] 12
14.0 [ 2  0  2 13 13] 13
13.0 [ 3  0  0 12 12] 12
14.0 [ 1  0  4 12 13] 14
17.0 [ 2  0  0 16 16] 16
19.0 [ 2  0  4 17 18] 19
12.0 [ 1  0  4 10 11] 11
13.0 [ 3  0  4 13 12] 13
2.0 [2 0 0 7 0] 0
13.0 [ 3  0  0 11 12] 14
13.0 [ 1  0  0 12 12] 13
10.0 [ 1  0  2 11  9] 10
16.0 [ 2  0  4 12 16] 16
16.0 [ 2  0  4 16 15] 16
9.0 [2 0 0 7 8] 8
10.0 [ 2  1  8 10  9] 11
14.0 [ 1  0  8 14 13] 12
14.0 [ 2  0  0 14 13] 13
13.0 [ 2  1  2 14 12] 13
9.0 [2 1 4 8 9] 10
14.0 [ 1  0  4 12 13] 13
9.0 [ 2  1 16  9  8] 10
8.0 [1 0 0 6 8] 9
12.0 [ 3  0  2 14 11] 12
7.0 [ 1  1 12  6  7] 7
13.0 [ 1  0  0 11 12] 12
11.0 [ 2  1  4  9 11] 10
10.0 [ 2  0 12  8  9] 10
15.0 [ 3  0  4 15 14] 15
16.0 [ 4  0  6 15 15] 15
9.0 [2 0 6 6 8] 8
15.0 [ 1  0  1 13 14] 14
19.0 [ 3  0  0 18 18] 18
13.0 [ 1  0  1 13 12] 13
10.0 [1 0 4 9 9] 10
13.0 [ 2  0  0 13 12] 12
11.0 [ 2  1  4 11 10] 11
11.0 [ 2  0  2 11 10] 11
13.0 [ 2  0  4 11 12] 12
18.0 [ 3  0  0 15 17] 17
14.0 [ 3  0  0 12 13] 14
14.0 [ 2  0  4 10 13] 13
8.0 [1 1 0 8 8] 9
12.0 [ 2  0  2 11 11] 12
14.0 [ 3  0  0 12 13] 13
12.0 [ 1  0  4 12 11] 11
14.0 [ 2  0  0 13 13] 13
15.0 [ 4  0  4 14 14] 15
17.0 [ 1  0  0 17 16] 16
14.0 [ 3  0  0 14 13] 13
13.0 [ 2  0 15 13 12] 12
13.0 [ 2  0 12 12 12] 14
6.0 [2 2 4 7 6] 8
9.0 [ 1  0 22  9  7] 6
16.0 [ 3  0  2 12 15] 15
15.0 [ 2  0  0 15 14] 15
10.0 [1 0 5 9 9] 9
13.0 [ 1  0  6 12 12] 12